<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
  </head>
  <body>
    <%- include('partials/nav'); %>
    <header>
      <h1>Welcome <%= firstName %></h1>
      <% if (!member) { %>
      <p>
        Not a member?
        <a href="/users/become-a-member">Join our exclusive clubhouse</a>
      </p>
      <% } %>
    </header>
    <main>
      <div class="messages_wrapper">
        <section class="messages">
          <% messages.forEach(message => { %>
          <article class="message">
            <p><%= message.title %></p>
            <p><%= message.message %></p>
            <% if (member) { %>
            <div>
              <span><%= message.firstname + " " + message.lastname %></span>
              <span><%= message.date %></span>
            </div>
            <% if (admin) { %>
            <form action="/messages/delete/<%= message.id %>" method="post">
              <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <title>delete-outline</title>
                  <path
                    d="M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19M8,9H16V19H8V9M15.5,4L14.5,3H9.5L8.5,4H5V6H19V4H15.5Z"
                  />
                </svg>
              </button>
            </form>
            <% } %> <% } %>
          </article>
          <% }) %>
        </section>
      </div>
    </main>
    <%- include('partials/footer'); %>
  </body>
</html>
